.border-radius-base {
  border-radius: 6px;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  width: 100px;
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.header {
  background-color: #005ed8;
}

.heading {
  font-size: 2em;
  color: #fff;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  padding: 1% 8%;
  min-height: 100vh;
}

.card {
  border-radius: 12px;
  box-shadow: 2px 2px 6px -2px #b3b3b3;
}

.filter-card .ant-card-body {
  padding-bottom: 0 !important;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.text {
  color: rgb(65, 65, 65);
  display: flex;
  align-self: center;
  font-size: 1.2em;
}

.count {
  font-size: 3em;
  font-weight: bold;
}
